*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img.jpg);
}

.btn {
  padding: 10px 15px;
  font-size: 1.5rem;
  background-color: yellow;
  width: 300px;
  position: fixed;
  top: 10px;
  transition: 0.3s all;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  position: relative;
  transition: 0.4s ease;
}

.box {
  width: 125px;
  height: 125px;
  background-image: url('https://media.giphy.com/media/ixKbC3GkQL1Mk/giphy.gif');
  background-size: 500px 500px;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -15px;
  background-color: rgba(255, 255, 0, 0.84);
  width: 15px;
  height: 100%;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 8px;
  background-color: rgba(255, 255, 0, 0.913);
  width: 100%;
  height: 15px;
  transform: skewX(45deg);
}

.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}
